body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
    .orange-color{
        color: orange;
    }
    .flexible-container{
        display: flex;
    }
    .half-width{
        width: 50%;
        padding-left: 20%;
    }
    .half-width img{
        width: 90%;
        padding-right: 30%;
        margin-top: 9%;
    }
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(orange, rgb(255, 153, 0));
        padding: 10px 40px;
        color: white;
        border-radius: 9px;
    }
    .top-banner{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
    }